---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen">
		<Header />
		<main class="min-h-screen">
			<h1>🌎 Hello, World!</h1>
			<p>
				I’m a <strong class="highlight">software developer</strong> who loves
				building cool stuff with <strong class="highlight"
					>JavaScript</strong
				>, <strong class="highlight">React</strong>, <strong
					class="highlight">Node.js</strong
				>,
				<strong class="highlight">Next.js</strong>, and <strong
					class="highlight">Express.js</strong
				>. I’ve worked with <strong class="highlight">MySQL</strong>, <strong
					class="highlight">PostgreSQL</strong
				>, and
				<strong class="highlight">MongoDB</strong> to create scalable and
				efficient applications.
			</p>
			<p>
				Beyond coding, I love designing product architectures that
				optimize performance and scalability. And when I’m not deep in
				tech, you’ll find me enjoying anime, drawing inspiration from
				storytelling and creativity.
			</p>
			<p>Let’s create something awesome together! 🚀</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.min-h-screen {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.highlight {
        background: linear-gradient(120deg, #ffd700 0%, #ffd700 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: 0 100%;
        transition: background-size 1s ease;
    }

	.highlight:hover {
		background-size: 100% 100%;
	}
</style>
